
/*erros:o background fica atras das imagens nos apps mesmo usando hover*/



body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: var(--color-dark5);
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --color-dark1: #000000;
    --color-dark2: #2b2a2a;
    --color-dark3: #424141;
    --color-dark4: #726f6f;
    --color-dark5: #c9c2c2;
    --color-white: #ffffff;
    --color-green: #15a877;
    --color-green2: #114d34;
    --color-green3: #107050;


}

.logo-header{ 
    width: 200px;
    padding: 25px;
    padding-right: 40%;
}

.header {
    background-color: var(--color-white);
    box-shadow: 1px 3px 4px var(--color-dark4); 
    height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 
.apps{
    padding: 5px;
}
 
h1{
font-size: 18px;
color: var(--color-dark4);
font-weight:lighter;
}
 
#page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    width: 600px;
} 

iframe{
    width: 500px;
}

h2{
    font-size: 20px;
    padding: 5px;
    color: var(--color-dark1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: lighter;
    color: var(--color-dark4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    background-color: var(--color-white);
    padding: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 300px;   
}

.inputs{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid;
    gap: 10px;
    background-color: var(--color-dark5);
    color: var(--color-white);
    outline: none;
    width: 100%;
    font-size: 16px;
   
}

.inputs:hover{
    border: 1px solid  var(--color-dark1);
    color: var(--color-dark1);
}

.center, form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;


}

button{
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: var(--color-green);
    color: var(--color-dark1);
}

button:hover{
    cursor: pointer;
    background-color: var(--color-green2);
    color: var(--color-white);
    transition: .5s;
    margin: 5px;
}

h5{
    font-size: 15px;
    font-weight: lighter;
    color: var(--color-dark4);
}

span{
    font-size: 25px;
}



#yt:hover{
background-image: url('../images/social_media_icons/youtube-hover.png');
background-repeat: no-repeat;
}

#face:hover{
background-image: url('../images/social_media_icons/facebook-hover.png');
background-repeat: no-repeat;
}

#insta:hover{
background-image: url('../images/social_media_icons/instagram-hover.png');
background-repeat: no-repeat;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
} 

.obs{
    font-size: 14px;
    color: var(--color-green3);
    font-weight: bold;
}

.obs:hover{
    cursor: context-menu;
    transition: .3s;
    color: var(--color-green2);

}

.pezin{
    color: var(--color-dark4);
    text-align: center;
    margin: 25px;
}
.baixo{
    height: 63px;
    background-color: var(--color-white);
    margin-top: 13%;
    color: var(--color-white);
}
